body {
  margin: 0; }

.mock {
  text-align: center; }

.mock-logo {
  height: 80px; }

.mock-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.mock-title {
  font-size: 1.5em; }
