/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-toolbar {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 4;

  .link {
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
